body {
    background-color:azure;
}

.green {
    background-color: #8bc34a;
}

.thin-font {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

.medium-font {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 25px;
}

.large-font {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
}

.left-paddding {
    padding-left: 30px;
}

.left-margin {
    margin-left: 25px;
}