.background-color{
    background-color: #EDF0C7;
}

.important-font-color-and-size{
    color: #2E5A1C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
